@use "sass:math";

/**
Thank you 
https://codepen.io/Mamboleoo/pen/BxMQYQ
*/

$particleSize: 20vmin;
$animationDuration: 6;
$amount: 20;

.background span {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration * 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (var(--color-one), var(--color-two), var(--color-three));
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, math.random(length($colors)));
      top: math.random(100) * 1%;
      left: math.random(100) * 1%;
      animation-duration: math.div(math.random($animationDuration * 10), 10) *
        1s +
        10s;
      animation-delay: math.div(
          math.random(($animationDuration + 10) * 10),
          10
        ) *
        -1s;
      transform-origin: (math.random(50) - 25) *
        1vw
        (math.random(50) - 25) *
        1vh;
      $blurRadius: (math.random() + 0.5) * $particleSize * 0.5;
      $x: if(math.random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
